.env/
/pycache/*
**/pycache/*
.vscode/
*.DS_Store
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.cpython-310.pyc
Pi/.venv_pi/
.venv*
.target_pi_ip

# Detection history files
detections/
