grpcio==1.74.0
grpcio-tools==1.74.0
numpy==2.2.6
opencv-python-headless==4.12.0.88
paho-mqtt==2.1.0
pillow==11.3.0
protobuf==6.32.0
pygame==2.6.1
PyOpenGL==3.1.9
PyOpenGL-accelerate==3.1.9
pyserial==3.5
